/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  place-content: center;
  align-items: center;
  background-image: url(../../background.avif);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;

}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.left-card {
  background-image: url(../../leftcardupdated.avif);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.right-card {
  display: flex;
  background-image: url(../../rightcard.avif) !important;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50px;

}

.textarea {
  width: 100%;
  min-height: 50px;
  height: auto-fit !important;
  border: 5 !important;

}